.drag_item {
    z-index: 101;
    cursor:pointer;
    width:100px;
    height:50px;
    position: absolute;
}

#rubric1 {
    left:600px;
    top:100px;
    background-color: lightgreen; 
}

#rubric2 {
    left:600px;
    top:200px;  
    background-color: lightblue; 
}

#rubric3 {
    left:600px;
    top:300px;  
    background-color: purple;
}

#rubric4 {
    left:600px;
    top:400px;    
    background-color: yellow;
}

#rubric5 {
    left:600px;
    top:500px;  
    background-color: pink;
}

#drop_zone {
    z-index: 100;
    position:absolute;
    left:50px;
    top:100px;
    border:1px solid black; 
    cursor:pointer;
    width:500px;
    height:500px;
}

#content {
    z-index: 1;
    position: absolute;
    left: 100px;
    top: 175px;
}
