#EdLibPlugin {
    position:fixed;
    z-index:101;
    top:0px;
    right:0px;
    width:170px;
    height:600px;
    padding-left:5px; 
    background-color: #EEEEEE;
    border:2px solid black;
}

.drag_item {
    z-index: 102;
    cursor:pointer;
    border:2px solid black;
    width:150px;
    height:60px;
    margin:5px;
    padding-left: 5px;
}

#rubric1 {
    background-color: lightgreen; 
}

#rubric2 {
    background-color: lightblue; 
}

#rubric3 {
    background-color: lavender;
}

#rubric4 {
    background-color: yellow;
}

#rubric5 {
    background-color: pink;
}

#drop_zone {
    z-index: 100;
    position:absolute;
    left:50px;
    top:100px;
    border:1px solid black; 
    cursor:pointer;
    width:1000px;
    height:600px;
}

#content {
    z-index: 1;
    position: absolute;
    left: 100px;
    top: 175px;
}

